:root {
  --main-bg-color: #131514;
  --main-txt-color: white;
}


body {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-family: "Raleway";
}

body, h1, h2, h3, p {
  margin: 0;
}

.introduction {
  display: flex;
  /* background-color: red; */
  height: 75vh;
}

.side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-device-width: 1024px) {
  .introduction {
    flex-direction: column;
  }
}
